<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.githubpagination">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- this activity enables the search dialog to initiate searches
        in the SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <!-- this is the searchable activity; it performs searches -->
        <activity
            android:name=".activities.SearchableActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_searchable"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/search_user_github" />
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.githubpagination.activities.MainActivity"/>
        </activity>

    </application>

</manifest>